.feedback_container{
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0px 4px 7px 7px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    justify-content: center;
    align-self: center;
}
.feedback_container{
    font-size: 18px;
    font-weight: 700;
}
.feedback_input{
    width: 35vw;
    height: 20vh;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-radius: 5px;
    border: 2px solid #555;
    padding: 10px;
    resize: none;
    color: #444;
}
.button_send{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}
.feedBack_msg{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;

}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    margin-bottom: 5px;
  }
  
  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  